version: "3.9"

services:
  app:
    build: .
    volumes:
      - .:/app
      - ./data:/app/data
    environment:
      - FRED_API_KEY=${FRED_API_KEY}
    depends_on:
      - redpanda

  redpanda:
    image: docker.redpanda.com/redpandadata/redpanda:v24.1.1
    command:
      - redpanda start
      - --smp 1
      - --memory 512M
      - --overprovisioned
      - --node-id 0
      - --kafka-addr PLAINTEXT://0.0.0.0:29092
      - --advertise-kafka-addr PLAINTEXT://redpanda:29092
    ports:
      - "29092:29092"
      - "9644:9644"
